*{
	outline: none;
	font-family: sans-serif;
}

html, body{
	width: 100%;
	height: 100%;
	margin: 0;
}

h1, h2, h3, h4, h5, h6{
	text-align: center;
}

.container{
	width: inherit;
	height: inherit;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: column;
}

.menu{
	width: 75%;
	height: 75%;
	border: 1px solid black;
	display: none;
}

.menu div{
	color: #53d8e6;
	font-size: 30px;
	margin-top: 40px;
	text-align: center;
	text-decoration: underline;
	-webkit-transition: 0.8s;
	-o-transition: 0.8s;
	transition: 0.8s;
}

.menu div:hover{
	color: darkblue;
	cursor: pointer;
}

.field{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	width: 800px;
	height: 800px;
	border: 1px solid black;
}

.cell{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 78px;
	height: 78px;
	border: 1px solid black;
}

.borderless{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	width: 80px;
	height: 80px;
	background-image: url('../img/texture.jpg');
	background-size: cover;
	background-repeat: repeat;
	color: #ffc300;
	font-size: 25px;
}

.hidden{
	visibility: hidden;
}

.white{
	background-color: white;
	border-radius: 50%;
	width: inherit;
	height: inherit;
	transform: scale(0.8);
}

.black{
	background-color: black;
	border-radius: 50%;
	width: inherit;
	height: inherit;
	transform: scale(0.8);
}

.white.damka{
	background-image: url("../img/white_damka.png");
	background-size: cover;
}

.black.damka{
	background-image: url("../img/black_damka.png");
	background-size: cover;
}

.selected{
	opacity: 0.7;
}

.available_to_choose{
	cursor: pointer;
}

.must_to_choose{
	cursor: pointer;
}

.featured::before{
	content: '';
	position: absolute;
	width: inherit;
	height: inherit;
	background-color: green;
	cursor: pointer;
}